<h1>Civil Departments</h1>
<p>The discipline of Civil Engineering at VVPEC Rajkot focuses on a multifaceted growth of students and imparts fundamental knowledge along with 
    professional skills leading to the overall development of the students. Department has well-equipped laboratories pertaining to the various areas of 
    Civil Engineering. The department also stand unique by achieving the highest results in the GTU Examinations. Department has a well-established 
    mentoring system that provides individual attention to the students in academic and other activities. The Department also encourages its students 
    to engage in extra-curricular and co-curricular activities to nurture their team spirit and develop organizational skills. . 
    Department has established strong network with Professionals, Peers from Academics and Alumnus, who supports various activities like site visits, 
    expert lectures, practical training, projects, placements.
</p>
<div id="vision">
    <ul>
        <h3>Vision</h3>
        <li>To mould the students into profound civil engineers with human values to meet the challenges of the civil engineering field.</li>
        <h3>Mission</h3>
        <li>To facilitate favorable educational environment that instill technical knowledge and skills in the students.</li>
        <li>To give exposure of civil engineering practices and emerging technologies of the field by collaborating with industries and alumni.</li>
        <li>To conduct various activities for versatile development of students and to make them socially responsible technocrats.</li>
    </ul>
</div>

<div id="faculties">
    <!-- <app-faculty-profile ></app-faculty-profile> -->
    <router-outlet></router-outlet>
</div>