<a routerLink="/layout" class="text-color" id="home">Home</a>
<a routerLink="about" class="text-color" id="about">About</a>

<div ngbDropdown class="d-inline-block" id="department">
    <button type="button" class="text-color" id="dropdownBasic1" ngbDropdownToggle>
        Departments
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" >
        <a routerLink="/layout" ngbDropdownItem>Computer Engineering</a>
        <a routerLink="/layout" ngbDropdownItem>IT Engineering</a>
        <a routerLink="/layout" ngbDropdownItem>Mechanical Engineering</a>
        <a routerLink="/layout" ngbDropdownItem>Civil Engineering</a>
        <a routerLink="/layout" ngbDropdownItem>Chemical Engineering</a>
    </div>
</div>

<a routerLink="admission" class="text-color" id="Admission">Admission</a>
<a routerLink="alumni" class="text-color" id="alumni">Alumni</a>
<a routerLink="contact" class="text-color" id="contact">Contact</a>