<div>
    <div style="background-color: #e3e3e3; height: 52px;">
        <div class="desktop-link">
            <app-links></app-links>
        </div>
    </div>
    
    <div class="mobile-link">
        <div class="mobile-head">
            <button (click)="eleShow = !eleShow" class="menu-btn">Menu</button>
            <div class="auth">
                <a routerLink="/signup">
                    <button mat-flat-button class="btn-position" style="background-color: blue; color: white;">SignUp</button>
                </a>
                <a routerLink="/login">
                    <button mat-flat-button class="btn-position" style="background-color: green; color: white;">Login</button>
                </a>
            </div>
        </div>
        <div *ngIf="eleShow">
            <app-links></app-links>
        </div>
        
    </div>
        
</div>
