<h2>Message From Principal</h2>
<br>
<p>
    Welcome to V.V.P. Engineering College, a world class center for excellence in technical education. We are a leading technological institute of India, a home to a wide range of academic departments, providing best education in the major areas of technology and services in the area of research and consultancy.
<br><br>
We are proud and distinct through our global technical perspective, cosmopolitan character and being deeply rooted in the high Indian traditional culture, heritage and values. You would enjoy the challenges and opportunities we offer.
<br><br>
We look forwards to welcoming the engineering aspirants to a place of genuine intellectual excellence for an unforgettable simulating experience in the world of existing and emerging technologies, Welcome back to Future….
</p>
