.btn-position {
    float: right;
    display: block;
    margin: 5px;
}

.navbar{
    border-radius: 20px;
}

@media screen and (max-width : 520px){
    .btn-position {
        display: none;
    }
}

