
<h1>Meet our Alumni</h1>

<div class="grid-container">
    
        @for (staff of this.apiRequestService.staffList ; track staff.staffId ; let i = $index ) {
            <div class="grid-item">
                <div class="profile-pic">
                    <img src="../../../assets/images/Profile-image/staff-{{staff.staffId}}.jpg" alt="profile image" >
                </div>
                <div class="data">
                    <p>
Meet {{staff.staffName}}, a dedicated member of our team in the {{staff.department}} Department. 
With a wealth of knowledge and expertise in {{staff.department}} engineering, 
{{staff.staffName}} brings invaluable contributions to our institution. 
Residing in {{staff.address}}, {{staff.staffName}} can be reached at {{staff.mobileNo}} or via email at 
{{staff.email}}. Holding an M.Tech degree, {{staff.staffName}}'s academic background complements their 
practical experience, making them a valuable asset to our faculty. 
With a passion for innovation and excellence, {{staff.staffName}} plays an instrumental role in shaping 
the academic landscape of our institution.
                    </p>

                </div>
            </div>
        }
</div>
        

