.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    max-width: 100%;
  }
  .grid-item {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: aliceblue;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
  }

  .profile-pic {
    width: auto;
  }

  .profile-pic img {
    object-fit: cover;
    width: 195px;
    height: 200px;
  }
  .data {
    text-align: justify;
  }

  h1 {
    text-align: center;
  }

  p {
    font-size: large;
  }
  

  

  @media screen and (max-width: 900px){
    p {
      font-size: medium;
    }
  }

  @media screen and (max-width: 800px){
    p {
      font-size: medium;
    }
  }
  
  @media screen and (min-width: 750){
    p{ font-size: small;}
    .grid-item {
      display: grid;
      grid-template-columns: 40% 60%;
    }
    .profile-pic img {
      width: 150px;
      height: 150px;
    }
  }
  
  @media screen and (max-width: 650){
    p { font-size: smaller;}
    .grid-item {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
