<h1>Computer Department</h1>

<p>
    Computer engineering is a field of study that integrates principles and practices of computer science 
    and electrical engineering to develop hardware and software components of computing systems. 
    It encompasses a broad range of topics including computer architecture, digital electronics, 
    embedded systems, operating systems, software engineering, and network engineering.
</p>

<div id="vision">
    <ul>
        <h3>Vision</h3>
        <li>Transforming students into globally efficient professionals with moral values.</li>
        <h3>Mission</h3>
        <li>To provide a strong foundation of computer engineering through effective teaching learning process.</li>
        <li>To enhance industry linkage & alumni network for better placement and real-world exposure.</li>
        <li>To provide various opportunities & platforms for all round development of students & encourage them for value-based practices.</li>
    </ul>
</div>

<div id="faculties">
    <!-- <app-faculty-profile ></app-faculty-profile> -->
    <router-outlet></router-outlet>

</div>