<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="signup-form">
          <app-form-header></app-form-header>
          <h2>Sign Up</h2>
          <form [formGroup]="signUpGroup" (ngSubmit)="signupUser()">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" required formControlName="username" class="form-control">
            </div>
            <div *ngIf="!signUpGroup.get('username')?.valid">Username is required</div>
            <br>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" required formControlName="email" class="form-control">
            </div>
            <div *ngIf="!signUpGroup.get('email')?.valid">Email is required</div>
            <br>
            <div class="form-group" *ngIf="hideRole">
              <label for="role">Role:</label>
              <select name="role" id="role" class="form-select" formControlName="role">
                <option value="student" selected>Student</option>
                <option value="staff">Staff</option>
              </select>
            </div>
            <br>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" required formControlName="password" class="form-control">
            </div>
            <div *ngIf="!signUpGroup.get('password')?.valid">Password is required</div>
            <br>
            <div class="form-group">
              <label for="re-password">Re-Enter Password:</label>
              <input type="password" id="re-password" required formControlName="rePassword" class="form-control">
            </div>
            <div *ngIf="!signUpGroup.get('rePassword')?.valid">Repassword is required</div>
            <br>
            <div class="form-group">
              <input type="radio" id="terms" required formControlName="acceptTerm" value=true>
              <label for="terms">
                <a routerLink="">I have read all terms and conditions</a>
              </label>
            </div>
            <div *ngIf="!signUpGroup.get('acceptTerm')?.valid">Please accept terms and condition</div>
            <br>

            <button type="submit" [disabled]="!signUpGroup.valid">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<input type="text" (keydown)="keyrole($event)">