<h1>Information and Technology Department</h1>
<p>
    In present era , Information Technology is used in every imaginable field. From agriculture to medical 
    and from robotics to space science, every field is dependent on IT. Thus, IT makes the backbone of every
     organization and helps in boosting economic growth and development. Atmanibhar bharat, Digital India 
     and several apps like cowin, arogyasetu etc initiatives of the current government are bringing a big 
     change in the IT sector. Hence, IT field has a potential of improving the lives of common man and act 
     as main catalyst to make the existing mankind simpler, smoother and easier. Innovations in every other 
     area of the tech field are driven by innovation in IT field. Whichever role you choose in IT you will 
     feel a part of amazing process.
</p>
<div id="vision">
    <ul>
        <h3>Vision</h3>
        <li>To achieve excellence in the dynamic field of Information Technology by transforming students
             into outstanding IT professionals with human values to meet global challenges
        </li>
        <h3>Mission</h3>
        <li>Imparting strong foundation and using tools and technologies to attain academic excellence and employability.</li>
        <li>Endowing expertise for transforming theoretical concepts into real-world applications that provides sustainable solutions to address needs of stakeholders.</li>
        <li>Cultivating analytical and soft skills inclusive of creative, managerial, team-work & communication skills through various activities to create competent professionals and/or entrepreneurs.</li>
        <li>Developing ever-learning attitude and ethics for professional life</li>
    </ul>
</div>

<div id="faculties">
    <!-- <app-faculty-profile ></app-faculty-profile> -->
    <router-outlet></router-outlet>

</div>