<h1>Electrical Engineering</h1>
<p><b>Here are the reasons why Electrical Engineering has been a popular field for the future engineers:</b></p>
<ol>
    <li>The most preferred branch of Engineering that gives opportunity to the students to work at the Central & the State Govt. jobs.</li>
    <li>Jobs: Local to Global.</li>
    <li>Low Investment: For the new Start-Ups, Entrepreneurship.</li>
    <li>Core Field of Engineering.</li>
    <li>Evergreen in terms of Job Scope - very Wide Scope including Govt. Jobs, Electronics, Solar, Wind, Core sectors of Electrical, IoT, Robotics & so many other applications.</li>
    <li>Work with High-tech Instruments and Machines.</li>
</ol>

<div id="vision">
    <ul>
        <h3>Vision</h3>
        <li>To illuminate as a Renowned Electrical Engineering Department transforming students into Proficient electrical engineers with human values.</li>
        <h3>Mission</h3>
        <li>To impart quality education for enhancing technical proficiency of the students.</li>
        <li>To make a strong bridge with industry and alumni for industrial exposure and better placement.</li>
        <li>To provide various platforms for inculcating values & overall grooming of the students.</li>
    </ul>
</div>

<div id="faculties">
    <!-- <app-faculty-profile ></app-faculty-profile> -->
    <router-outlet></router-outlet>
</div>