<h1>Mechanical Department</h1>
<p><b>There are plenty of reasons to choose mechanical engineering, but 5 prominent reasons are highlighted here.</b></p>
<ol>
    <li><b>Great career ahead:</b> Mechanical engineers have good graduate prospects. In any field or 
        factory, company related to even computer, civil, IT, Chemical, Electrical, Machines and 
        Infrastructures are common which requires mechanical engineers. That’s why it is called ever 
        green branch. There is an opportunity for mechanical engineers to create and build mechanical 
        devices which we use every day (day to day life).
    </li>
    <li><b>Salary:</b> Mechanical engineers enjoy great starting salaries, with condition that in any skill 
        they gain expertise. People with mechanical engineering skills are highly valued in society and their
         salaries reflect that fact. Mechanical engineers are multi skilled and multifaceted.
    </li>
    <li><b>Government schemes for becoming an entrepreneur:</b> “Make in India” and “Atmanirbhar Bharat” 
        are few of the government initiatives which provides great opportunities to become an entrepreneur.
         Perhaps the biggest satisfaction as a Mechanical Engineer is being an owner of an industry. Rajkot 
         is considered as the hub of manufacturing industry thereby proving Mechanical Engineering as worth 
         career option.
    </li>
    <li><b>Design: </b> Sketch or drawing of ideas (creative /innovative) on paper. Several software is 
        used to create design: AutoCAD, Pro e, Solid works, NX etc. If you are interested in white collar
         job or inclined to software, then mechanical engineering is best option.
    </li>
</ol>

<div id="vision">
    <ul>
        <h3>Vision</h3>
        <li>To transform students into professionally competent and socially sensitive Mechanical Engineers with human values.</li>
        <h3>Mission</h3>
        <li>To provide an excellent academic environment to impart professional expertise in students.</li>
        <li>To organize curricular, co-curricular and extracurricular activities for students in collaboration with industry, alumni and professional bodies.</li>
        <li>To nurture and maintain conducive environment for ethics-based practice and imbibement of human values.</li>
    </ul>
</div>

<div id="faculties">
    <!-- <app-faculty-profile ></app-faculty-profile> -->
    <router-outlet></router-outlet>

</div>

