<div class="about-container">
    <div class="side-list">
        <ul>
            <li>
                <a routerLink="governing-body">Governing Body</a>
            </li>
            <li>
                <a routerLink="message-chairman">Message From Chairman</a>
             </li>
            <li>
                <a routerLink="message-principal">Message from Principal</a>
            </li>
        </ul>
    </div>
    <div class="about-content">
        <router-outlet></router-outlet>
    </div>
</div>



