.about-container {
    display: grid;
    grid-template-columns: 300px auto;
}

.side-list {
    background-color: white;
}
.about-content {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.side-list div {
    margin: 10px;
    padding: 10px;
}

.links {
    margin: 5px;
    padding: 5px;
    list-style: none;
}

a {
    text-decoration: none;
}

.links:hover {
    color: white;
    background-color: violet;
}

@media screen and (max-width : 800px){
    .about-container {
        display: grid;
        grid-template-columns: 200px auto;
    }    
    .side-list div {
        margin: 5px;
        padding: 5px;
    }
}

@media screen and (max-width : 500px){
    .about-container {
        grid-template-columns: auto;
    }    

}
.side-list div {
    margin: 10px;
    padding: 10px;
}




