
    

    
    

    
    
    
    <div class="nav-link">
        <div><a routerLink="/layout" class="text-color" id="home">Home</a></div>
    <div><a routerLink="about" class="text-color" id="about">About</a></div>
    <div><a routerLink="department" class="text-color" id="department">Department</a></div>
    <div><a routerLink="admission" class="text-color" id="Admission">Admission</a></div>
    <div><a routerLink="alumni" class="text-color" id="alumni">Alumni</a></div>
    <div><a routerLink="contact" class="text-color" id="contact">Contact</a></div>

    </div>
    
<div><a routerLink="account" class="text-color account" id="account">My Account</a></div>



