<div>
    <h2>Governing Body</h2>

<p>The Governing Body is responsible for formulating the policies of the institution and providing the right
     direction to the institute. It is the mechanism that connects the management, staff, students and the 
     society and works to achieve the best possible results. “Rastray Swaha IdamnaMamah” is a motto of the 
     institution, looking to that all Governing Body members are giving their honorary service without 
     charging a single rupee in any form and have set an example in the field of higher education.It is 
     effective, efficient and economical in execution of its functions from the day of its inception.
      We, at V.V.P. support modern governance, proper administration and believe these should be carried out
       in a way that actively acknowledges diversity.</p>

<h4>Functions of Governing body</h4>
<ol>
    <li>To organize and determine teaching, administrative and nonteaching-technical staff requirement in the
         college.</li>
    <li>To select and appoint Principal, teaching staff, administrative staff and non-teaching technical 
        staff.</li>
    <li>To approve budget of the institute & ensures the adequacy of financial resources for smooth 
        functioning of the institute.</li>
    <li>To make policy decisions for admission, HR, administration and finance, welfare schemes for students 
        and staff, reward and appreciation for staff and students, service condition of staff, code of 
        conduct for staff and students etc.</li>
    <li>To make decisions on requirement of physical infrastructure, facilities and its maintenance</li>
    <li>To make decision on start or closure of program or change in the intake.</li>
    <li>To ensure the establishment of efficient system of control and accountability.</li>
    <li>To perform such other duties and exercise such other powers as may be entrusted by the management.</li>
</ol>

</div>
