
.department {
    display: grid;
    grid-template-columns: 300px auto;
}

h1 {
    text-align: center;
}

.side-list {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.side-list a{
    text-decoration: none;
}

.side-list li {
    list-style: none;
    width: auto;
    padding: 5px;
    margin-left: -50px;
}

.content {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

p {
    text-align: justify;
}

@media screen and (max-width : 750px){
    .department {
        display: grid;
        grid-template-columns: 200px auto;
    }
}