<h1>Chemical Department</h1>
<p>
    Gujarat is known as the hub of Chemical Industries in India. The job prospectus and career options 
    available for a Chemical Engineer are vivid. Wide employment opportunities are available, both in the 
    public as well as in the private sector. Chemical Engineers can work effectively in diversified 
    sectors viz. Drug and Pharma, Agriculture, Food, Health Care, Refining and Petrochemicals, 
    Nano Technology, Textiles, Biotechnology, Environment etc. Students can pursue jobs in areas such as 
    production, operation, maintenance, technical marketing and academics as well.
</p>
<div id="vision">
    <ul>
        <h3>Vision</h3>
        <li>To be evolved as a leading resource of competent chemical engineering professionals with human values.</li>
        <h3>Mission</h3>
        <li>To develop technical competence among students for solving problems of chemical and allied industries.</li>
        <li>To provide platform for overall development of students along with technical proficiency 
            through co-curricular and extra-curricular activities as well as academic, alumni, research 
            and industrial collaborations.
        </li>
        <li>To nurture human values in students by addressing social and environmental aspects</li>
    </ul>
</div>

<div id="faculties">
    <!-- <app-faculty-profile ></app-faculty-profile> -->
    <router-outlet></router-outlet>

</div>