@if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
                <img [ngSrc]="images[0]" alt="Random first slide" class="carousel-image" priority width="1800" height="1048"/>
			</div>
			<div class="carousel-caption">
				<a routerLink="/layout">
					<h1>Welcome to V.V.P. Engineering Collage</h1>
					<br>
					<h3>Click to continue...</h3>
					
				</a>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
                    <img [ngSrc]="images[1]" alt="Random second slide" class="carousel-image" width="1800" height="1048"/>
			</div>
			<div class="carousel-caption">
				<a routerLink="/layout">
					<h1>Welcome to V.V.P. Engineering Collage</h1>
					<br>
					<h3>Click to continue...</h3>
				</a>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
                    <img [ngSrc]="images[2]" alt="Random third slide" class="carousel-image" width="1800" height="1048"/>
			</div>
			<div class="carousel-caption">
				<a routerLink="/layout">
					<h1>Welcome to V.V.P. Engineering Collage</h1>
					<br>
					<h3>Click to continue...</h3>
				</a>
			</div>
		</ng-template>
	</ngb-carousel>
}