<h1>Student Profile</h1>
<table>
    <tr>
        <td>Student name</td>
        <td>{{this.httpService.studentProfile.studentName}}</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>{{this.httpService.studentProfile.department}}</td>
    </tr>
    <tr>
        <td>Semester</td>
        <td>{{this.httpService.studentProfile.semester}}</td>
    </tr>
    <tr>
        <td>Mobile Number</td>
        <td>{{this.httpService.studentProfile.mobileNo}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{this.httpService.studentProfile.address}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{this.httpService.studentProfile.email}}</td>
    </tr>
    <tr>
        <td>Birth Date</td>
        <td>{{this.httpService.studentProfile.birthDate}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{this.httpService.studentProfile.gender}}</td>
    </tr>
</table>
