<h2>About Vyavasayi Vidya Pratishthan (V.V.P.)</h2>
<br>
<p>
Vyavasayi Vidya Pratishthan (V.V.P.) Trust was set up in 1996. “राष्ट्राय स्वाहा इदं न मम”  is the moto of this 
public charitable trust with the aim to contribute in the field of education on non-profit base. 
The Trust prides itself on establishment of the first engineering college in Rajkot, the central location 
of Saurashtra and Kutch region 25 years back. The philanthropic inclination of the trust has been a driving
 force for the college to succeed over the years.
</p>
