<div class="container">
    <p class="first_line">Welcome to {{collage}}</p>
    <p class="second_line">You can manage your collage ERP task Here !</p>
</div>
<div class="mission">
    <h1>Vision and Mission- {{collage}}</h1>
    <h2>Vision</h2>
    <ul>
        <li>To be an exemplary institute, transforming students into competent professionals with human values.</li>
    </ul>
    <h2>Mission</h2>
    <ul>
        <li>To provide a conducive academic environment for strengthening technical capabilities of the students.   </li>
        <li>To strengthen linkages with industries, alumni and professional bodies.</li>
        <li>To organize various co-curricular and extra-curricular activities for overall development of the students.</li>
        <li>To practice good governance and conduct value- based activities for making students responsible citizens.</li>
    </ul>
</div>