
<div class="forget">
    <app-form-header></app-form-header>
    <h2>Forget Password Form</h2>
    <form [formGroup]="forgetPasswordGroup" class="forget-form">
        
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="pat@example.com" formControlName="email">
        </mat-form-field>
        
        <mat-form-field class="hw">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>

        <mat-form-field class="hw">
            <mat-label>Re-Enter Password</mat-label>
            <input matInput type="password" formControlName="rePassword">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                <mat-option value="student" selected>Student</mat-option>
                <mat-option value="staff">Staff</mat-option>
            </mat-select>
          </mat-form-field>

        <button mat-flat-button style="color: white; background-color: green;" (click)="changePassword()">
            Enter
        </button>
    </form>
</div>